import { defineConfig } from '@vben/vite-config';

import ElementPlus from 'unplugin-element-plus/vite';
import { federation } from "@module-federation/vite";

export default defineConfig(async () => {
  return {
    application: {},
    vite: {
      plugins: [
        ElementPlus({
          format: 'esm',
        }),
        federation(
          {
            // 控制类型生成
            dts: true,
            // 控制页面热重载和类型热重载 vite目前不支持
            dev: {
              remoteHmr: true,
            },
            //  module federation name（必填）
            name: "jglab-host",
            //  module federation remotes 远程模块别名和 entry 信息,
            // 消费者者特有参数，设置了 remotes 则可认为这是一个消费者
            remotes:{
              remote:{
                type: "module",
                name: "remote",
                entry: "http://localhost:4174/remoteEntry.js",
                entryGlobalName: "remote",
                shareScope: "default",
              }
            },
            // 决定对外暴露的模块以及文件入口
            // 生产者特有参数，设置了 exposes 则可认为这是一个生产者
            exposes: {},
            // 决定生成的 remoteEntry 文件名
            filename: "remoteEntry.js",

          }
        )
      ],
      server: {
        proxy: {
          '/api': {
            changeOrigin: true,
            rewrite: (path) => path.replace(/^\/api/, ''),
            // mock代理目标地址
            target: 'http://localhost:5320/api',
            ws: true,
          },
        },
      },
    },
  };
});
